<!doctype html>

{% load static %}


    {% block content %}
    {% endblock %}

    <footer  style="height:100px;background-color:grey;">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        <p style="font-size:14px;color:white;">© 2019 Copyright: CMPT 470 Group 2</p>
       <p style="font-size:14px;color:white;"></p>
       <p style="font-size:14px;color:white;">Pokemon Names and Sprites' trademarks belong to Nintendo and The Pokemon Company.</p>
      </div>
      <!-- Copyright -->

    </footer>
